* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-style: 100%;
   line-height: 1;
   font-style: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style-type: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-style: inherit;
   font-weight: 400;
}


body {
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   line-height: 1.7;
   color: #464743;
   background: #aab4bc;
}

.header {
   background-color: #5f768f;
   color: #c1b5a6;

}

.header-wrapper {
   max-width: 1440px;
   margin: 0 auto;
}



.nav-list {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   list-style: none;
}


.nav-link {
   position: relative;
   text-decoration: none;
   font-size: 24px;
   font-weight: 500;
   color: #c1b5a6;
}

.nav-item {
   padding: 15px 30px;
}

.nav-item::after {
   content: "";
   display: block;
   width: 0;
   height: 2px;
   background-color: #c1b5a6;
   transition: width .3s;
}

.nav-item:hover::after {
   width: 100%;
}

.wrapper {
   margin: 0 auto;
   width: 1440px;
}

.preview {
   display: flex;
   justify-content: space-around;
   padding: 30px;
   align-items: center;
}

.content-wrapper {
   display: flex;
   justify-content: space-around;
   gap: 30px;
}

.image {
   border-radius: 50%;
   width: 300px;
}

h1 {
   font-size: 60px;
   font-weight: 700;
   color: #464743;
   letter-spacing: 3px;

}

.aside {
   background-color: #b8d0e0;
   padding: 15px;

}

.nav-title {

   padding: 30px;
   font-size: 25px;

}

.nav-text {
   font-size: 18px;
}

.content {
   padding: 15px;
   background-color: #b8d0e0;

}

.piece {
   padding: 30px;
}

.footer {
   display: flex;
   justify-content: space-between;
   margin: 15px 0px;
   background-color: #5f768f;
   padding: 30px;
   font-size: 24px;
   font-weight: 500;
   color: #c1b5a6;
}
.git-link{
         font-size: 24px;
         font-weight: 500;
         color: #c1b5a6;
}